<main>
    <!-- linkeando css y boostrap css-->
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <!----------------------->

    <h1>PAGE NOT FOUND PAPA</h1>



    <!--linkeando js, boostrap js y jquery-->
<script src="/assets/js/jquery/jquery-3.6.0.min.js"></script>
<script src="/assets/js/bootstrap/bootstrap.min.js"></script>
<!----------------------->
</main>