<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- linkeando css y boostrap css-->
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <!----------------------->
    <title>Document</title>
</head>
  
<body class="">
  {{#if EstaAutenticado}}
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal">Manejo de los candidatos</h1>
      <p class="fs-5 text-muted">Desde aqui se pueden manejar todos los candidatos en el sistema.</p>
    </div>
  </header>

  <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
  <main>
    <div class="row row-cols-1 row-cols-md-4 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-secondary">
          <div class="card-header py-3 text-white bg-secondary border-secondary">
            
            <h4 class="card-title pricing-card-title">Agregar<small class="text-muted fw-light"></small></h4>
          </div>
          <div class="card-body">
            <p>Agregar candidatos.</p>


            <a href="/agregar-candidatos" class="w-100 btn btn-lg btn-success">Entrar</a>
            {{!-- <button type="button" class="w-100 btn btn-lg btn-primary">Entrar</button> --}}
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-secondary">
          <div class="card-header py-3 text-white bg-secondary border-secondary">
            <h4 class="card-title pricing-card-title">Editar<small class="text-muted fw-light"></small></h4>
          </div>
          <div class="card-body">
              
            <p>Editar candidatos.</p>
            <a href="/editar-candidatos" class="w-100 btn btn-lg btn-warning">Entrar</a>
            {{!-- <button type="button" class="w-100 btn btn-lg btn-primary">Entrar</button> --}}
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-secondary">
          <div class="card-header py-3 text-white bg-secondary border-secondary">
            <h4 class="card-title pricing-card-title">Eliminar<small class="text-muted fw-light"></small></h4>
          </div>
          <div class="card-body">
            
              <p>Eliminar candidatos.</p>
              <a href="/eliminar-candidatos" class="w-100 btn btn-lg btn-danger">Entrar</a>
            {{!-- <button type="button" class="w-100 btn btn-lg btn-primary">Entrar</button> --}}
          </div>
        </div>
      </div>
    <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-secondary">
          <div class="card-header py-3 text-white bg-secondary border-secondary">
            <h4 class="card-title pricing-card-title">Listar<small class="text-muted fw-light"></small></h4>
          </div>
          <div class="card-body">
            
              <p>Listar candidatos.</p>
              <a href="/listar-candidatos" class="w-100 btn btn-lg btn-primary">Entrar</a>
            {{!-- <button type="button" class="w-100 btn btn-lg btn-primary">Entrar</button> --}}
          </div>
        </div>
      </div>
    </div>

    <a class="btn btn-secondary d-block w-100" href="/panel">Volver</a>
  </main>


      </div>
    <div class="col-md-1"></div>
    </div>

    {{else}}
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <h1 class="display-4 fw-normal">No autorizado para ver esta seccion, debe estar logeado como administrador.</h1>
        </div>
{{/if}}

</body>

<!--linkeando js, boostrap js y jquery-->
<script src="/assets/js/jquery/jquery-3.6.0.min.js"></script>
<script src="/assets/js/bootstrap/bootstrap.min.js"></script>
<!----------------------->
</html>